body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: @body-bg;
}

main {
    flex: 1 0 auto;
}

ul {
    li {
        ul {
            padding-left: 10px;
        }
    }
}

a {
    color: @accent;
    &:hover {
        color: @dark;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @primary-text;
    letter-spacing: 2px;
}

blockquote {
    border-left: 5px solid @primary;
}

.hidden {
    display: none;
}