.title_brand {
    h1 {
        font-size: 2.1rem;
        border-bottom: 5px solid @primary;
        margin: 0;
        padding: 2.1rem 0 1rem 1rem;
    }
    h2 {
        font-size: 1.2rem;
        margin: 10px 1rem;
    }
}