#top-bar {
    background-color: @primary;
    height: 200px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: relative;
}

.slider {
    .slides {
        li {
            .caption {
                &.light {
                    h5, h3 {
                        color: @icons-text;
                    }
                }
                &.dark {
                    h5, h3 {
                        color: @primary-text;
                    }
                }
            }
        }
    }
}