main {
    margin-top: -150px !important;
}

.card {
    .card-content {
        p {
            margin-bottom: 50px;
        }
    }
    .card-title {
        &.dark {
            color: @dark;
        }
    }
    .card-action {
        text-align: right;
        a {
            color: @primary !important;
        }
    }
}