main {
    margin-top: -150px !important;
}

.card {
    .chip {
        margin: 2px;
        background: @primary;
    }
    #googleMap {
        height: 500px;
    }
    &.team-card {
        padding: 15px;
        .select {
            a {
                opacity: 0.5;
                &.active {
                    opacity: 1;
                }
            }  
        }
        .select-wrapper {
            overflow: hidden;
            .select-content {
                height: 0px;
                transform: scale(1, 0);
                color: @secondary-text;
                ul {
                    padding-left: 10px;
                    margin: 0;
                    li {
                    }
                }
                &.active {
                    height: auto;
                    display: block;
                    transform: scale(1, 1);
                    transition: all 1s ease-in-out;
                    -webkit-transition: all 1s ease-in-out;
               }
       }
        }
    }
    .card-panel {
        background: @light;
        .card-icon {
            font-size: 4em;
            color: @icons-text;
        }
        span {
            color: @secondary-text;
            strong {
                color: @primary-text;
            }
        }
    }
    .card-content {
        .btn {
            background: @primary;
        }
        .input-field {
            input {
                border-bottom: 1px solid @primary !important;
            }
            
            textarea {
            }
            
            label {
                &.active {
                    color: @primary;
                }
            }
        }
        .icon-block {
            h2 {
                color: @primary;
            }
            h5 {
                color: @primary-text;
            }
        }
        p {
            margin-bottom: 50px;
            color: @secondary-text;
            strong {
                color: @primary-text;
            }
        }
    }
    .card-title {
        &.dark {
            color: @dark;
        }
    }
    .card-action {
        text-align: right;
        a {
            color: @primary !important;
        }
    }
}