nav {
    position: absolute;
    bottom: 0;
    right: 0;
    .nav-wrapper {
        margin: 0 20px;
        #nav-mobile {
            li {
                a {
                    color: @text-light;
                    &:hover {
                        background-color: rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }
    background-color: transparent;
    box-shadow: none;
    a {
        color: @text-light;
    }
}