.contact-button {
    position: fixed;
    bottom: 45px;
    right: 24px;
    z-index: 42;
    .btn-floating {
        background: @dark;
    }
}

.menu-button {
    position: fixed;
    bottom: 45px;
    left: 24px;
    display: none;
    z-index: 42;
    .btn-floating {
        background: @dark;
    }
}

#side-nav {
    li {
        &.logo {
            background-color: @primary;
            height: auto;
            h2 {
                margin: 0;
                padding: 10px 20px;
                color: @primary-text;
                font-size: 20px;
            }
            h5 {
                margin: 0;
                padding: 5px 20px;
                color: @secondary-text;
                font-size: 12px;
            }
            padding-bottom: 50px;
        }
        a {
            color: @primary-text;
            i {
                font-size: 1.2rem;
                padding: 10px 10px 10px 0;
                color: @secondary-text;
            }
        }
    }
}

nav {
    a {
        &:hover {
            background: none;
        }
        h2 {
            margin: 0;
            font-size: 1.2rem;
            padding: 13px;
            color: @accent;
        }
    }
    ul {
        li {
            a {
                color: @primary-text;
                &:hover {
                    background: @light;
                }
            }
        }
    }
}