nav {
    .nav-wrapper {
        #nav-mobile {
            li {
                a {
                    color: @text-link;
                }
            }
        }
    }
    background-color: transparent;
    box-shadow: none;
    a {
        color: @text-link;
    }
}